*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(57, 195, 230);
    color: rgb(240, 240, 240);
}

button {
    background: none;
    border: none;
    color: rgb(240, 240, 240);
    font-size: 1.5rem;
}

button:hover {
    cursor: pointer;
}

input[type='text'] {
    display: flex;
    font-family: inherit;
    background: none;
    border: none;
    font-size: 1.25rem;
    width: 26px;
}

span {
    line-height: 1.8rem;
}


h1 {
    font-size: 3rem;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 500px;
}

.session-input-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.session-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.time-input-container {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.25rem;
    background: white;
    margin: 10px 0;
}

.minutes-input {
    margin-left: 3px;
    text-align: right;
}

.seconds-input {
    margin-right: 3px;
}

.countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.countdown-heading {
    margin: 5px 0;
}

.countdown {
    width: 100%;
    font-size: 4rem;
}

.warning {
    color: red;
}

.arrow-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}